/react_first/node_modules/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#BOND_CALCULATOR
# dependencies
/bond_calculator/node_modules
/bond_calculator/.pnp
/bond_calculator/.pnp.js

# testing
/bond_calculator/coverage

# production
/bond_calculator/build

# misc
/bond_calculator/.DS_Store
/bond_calculator/.env.local
/bond_calculator/.env.development.local
/bond_calculator/.env.test.local
/bond_calculator/.env.production.local

/bond_calculator/npm-debug.log*
/bond_calculator/yarn-debug.log*
/bond_calculator/yarn-error.log*


#QUESTIONNEIRE_GAME
/google-sheets-database
/holysheet
/questionnaire_game_react
/questionnaire_game/credentials

# dependencies
/questionnaire_game/.next
/questionnaire_game/node_modules
/questionnaire_game/.pnp
/questionnaire_game/.pnp.js

# testing
/questionnaire_game/coverage

# production
/questionnaire_game/build

# misc
/questionnaire_game/.DS_Store
/questionnaire_game/.env.local
/questionnaire_game/.env.development.local
/questionnaire_game/.env.test.local
/questionnaire_game/.env.production.local

/questionnaire_game/npm-debug.log*
/questionnaire_game/yarn-debug.log*
/questionnaire_game/yarn-error.log*