@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.divFormAdd {
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.formAdd {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inputAdd,
.buttonAdd {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    border: 0;
    background: #f2f6d5;
    color: #333241;
    outline: none;
    font-size: calc(5px + 2vmin);
    border-radius: 30px;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 10px 30px;
}

.inputAdd {
    width: 60%;
}
.buttonAdd {
    width: 30%;
    cursor: pointer;
    transition: transform 400ms ease;
}

.buttonAdd:hover{
    transform: scale(1.05);
}